.home{
    padding: 3rem 3rem;
    color: aliceblue;
}

.rights{
    text-align: center;
    line-clamp: 3px;
    line-height: 4rem;
    letter-spacing: 1.7px;
    font-family: "Edu VIC WA NT Beginner", cursive;
    text-transform: uppercase;
}

@media (max-width: 830px) {
    /* .home{
       padding: 44rem;
    }

    .rights{
       margin-left: 6rem; 
    } */
}